<!-- authentication/templates/authentication/login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login with Phone OTP Verification</title>
</head>
<body>
    <h1>Login with Phone OTP Verification</h1>

    <!-- Form to Send OTP -->
    <form action="{% url 'send_otp' %}" method="POST">
        {% csrf_token %}
        <label for="phone_number">Phone Number:</label>
        <input type="text" name="phone_number" id="phone_number" placeholder="Phone Number" required>
        <button type="submit">Send OTP</button>
    </form>

    <!-- OTP Verification Form -->

    <form action="{% url 'verify_otp' %}" method="POST">
        {% csrf_token %}
        <label for="otp">Enter OTP:</label>
        <input type="text" name="otp" id="otp" placeholder="Enter OTP" required>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Username" required>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Email" required>
        <input type="hidden" name="phone_number" value="{{ phone_number }}">
        <button type="submit">Verify OTP</button>
    </form>


</body>
</html>