<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />
    <title>medE</title>
  </head>

  <body>
    <div class="container" id="container">
      <!-- Form to Send OTP -->
      
      <div class="form-container sign-up" style="display: flex;flex-direction: column;">
        <img src="{% static 'favicon.png' %}" alt=" medX logo">
        <form style="padding: 0;" method="post" action="{% url 'send_otp' %}">
            {% csrf_token %}
            <div class="num-input-container">
              <label for="phone_number">+880</label>
              <input id="phone_number" type="text" name="phone_number" placeholder="{% if phone_number %}{{ phone_number|slice:'4:' }}{% else %} Phone Number {%endif%}" pattern="[0]\d{10}" title="Enter a valid phone number"  required/>
            </div>

            <button type="submit">Send OTP</button>
            {%if message%}
            <div>{{message}}</div>
            {%endif%}
        </form>

        <!-- OTP Verification Form -->

        <form style="padding: 0;" action="{% url 'verify_otp' %}" method="POST">
          {% csrf_token %}
          
          <input type="text" name="password" id="password" placeholder="Password" required/>
          <h3 for="otp">Enter OTP:</h3>
          <div class="input-field" id="otp-container">
            <input type="number" name="otp1" id="otp1" class="otp-input" maxlength="1" />
            <input type="number" name="otp2" id="otp2" class="otp-input" maxlength="1" disabled />

            <input type="number" name="otp3" id="otp3" class="otp-input" maxlength="1" disabled />
            <input type="number" name="otp4" id="otp4" class="otp-input" maxlength="1" disabled />
          </div>  
          <input type="hidden" name="phone_number" value="{{ phone_number }}" />
            {% if messages %}
            <div class="messages">
              {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
              {% endfor %}
            </div>
            {% endif %}
          <button type="submit">Verify OTP</button>
        </form>
        
      </div>
      
      <div class="toggle-container toggle-right">
        <div class="toggle bg-right">

          <div class="toggle-panel">
            
            <h1>Hello there!</h1>
            <p>Welcome to medE</p>
            <!-- <button id="login"><a href="{% url 'myregister' %}">Register Now</a></button> -->
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const otpInputs = document.querySelectorAll(".otp-input");
    
    otpInputs.forEach((input, index) => {
      input.addEventListener("input", (event) => {
        const value = event.target.value;
        
        if (value.length === 1 && index < otpInputs.length - 1) {
          otpInputs[index + 1].removeAttribute("disabled");
          otpInputs[index + 1].focus();
        }
      });
    

      input.addEventListener("keydown", (event) => {
        if (event.key === "Backspace") {
          if (index > 0 && input.value === "") {
            otpInputs[index - 1].focus();
          }
        }
      });
    });
    </script>
    
    
    </html>
