.desktop-navigation-menu {
	display: none;
}

:root{
	/*	font sizes */

	--fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;

	/*	colors */

	--red: #de0000;
	--black: #000000;
}
/*** RESETTING CSS ***/
*, *::before, *::after {
	font-family: 'poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: inehrit !important;
	text-decoration: none !important;
}

address {
	font-style: normal;
}
li {
	list-style: none;
}
button {
	background: none;
	font: inherit;
	border: none;
	cursor: none;
}
img, ion-icon, button, a {
	display: block;
}
ion-icon {
	pointer-events: none;
}
span {
	display: inline-block;
}
html {
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
input {
 	display: block;
 	width: 100%;
	font: inherit;
}
input::placeholder {
	font: inherit;
}
body {
	background: white;
	overflow-x: hidden;
}
body::-webkit-scrollbar {
	width: 15px;
}
body::-webkit-scrollbar-track {
	background: white;
	border-left: 1px solid hsl(0, 0%, 93%);
}
body::-webkit-scrollbar-thumb:hover {
	background: hsl(0, 0%, 70%);
}

/*** -------------------------------------- ***/
/*** -------------------------------------- ***/

.has-scrollbar {
	padding-bottom: 5px;
}
.has-scrollbar::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
.has-scrollbar::-webkit-scrollbar-thumb {
	background: transparent;
	border: 3px solid white;
	border-radius: 20px;
}
.has-scrollbar:hover::-webkit-scrollbar-thumb {
	background: hsl(0, 0%, 90%);
}
.has-scrollbar::-webkit-scrollbar-thumb:hover {
	background: hsl(0, 0%, 80%);
}

.header-main .container {
	border-bottom: 1px solid hsl(0, 0%, 93%);
	flex-wrap: wrap;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}
.header-main .action-btn {
	position: relative;
	font-size: 30px;
	transition: 0.2s ease;
}
.header-main .btn-badge {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: hsl(0, 95%, 62%);
	color: white;
	font-size: 7px;
	padding: 2px 4px;
	border-radius: 50px;
}

.header-main.active{
	position: fixed;
	box-shadow: 0 8px 16px hsla(0, 0%, 0%, 0.15);
}
.header-user-actions {
	display: flex;
	gap: 10px;
	position: relative;
}
.header-user-actions .search-box {
	position: relative;
	display: inline-block;
	height: 30px;
	width: 30px;
	vertical-align: bottom;
	transition: 0.5s ease;
}
.header-user-actions .search-box:focus-within {
	width: 60vw;
	border: 1px solid #2f3640;
	border-radius: 10px;
}
.header-user-actions .search-box:focus-within .search-txt {
	opacity: 100%;
}
.search-box .mobile-srch-btn {
	padding-right: 3px;
	margin-left: auto;
}
.search-box .search-txt {
	position: absolute;
	flex-grow: 1;
	left: auto;
	border: 0;
	background: transparent;
	padding: 0 0.5em;
	color: rgb(255, 0, 0);
	font-size: 16px;
	line-height: 30px;
	opacity: 0;
	transition: 0.3s ease;
}
.search-box .search-txt:focus {
	outline: 0;
}

/* .header-user-actions .search-box {
	position: absolute;
	right: -100%;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-right: 100px;
	transition: 0.5s ease-in-out;
	z-index: 10;
}
.header-user-actions .search-box.active {
	right: 0;
}
.search-box .search-txt {
	width: 100%;
	border: none;
	outline: none;
	height: 30px;
	color: #333;
	font-size: 1.25em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.mobile-srch-btn {
	position: relative;
	transition: 0.5s ease-in-out;
} */

.header-user-actions .shopping-cart {
	position: absolute;
	top: 200%;
	right: -1000%;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
	width: 25rem;
	background: white;
	z-index: 10;
}

.header-user-actions .shopping-cart.active {
	right: -350%;
	transition: 0.7s ease;
}

.header-user-actions .shopping-cart .cartbox {
	display: flex;
	align-items: center;
	gap: 1rem;
	position: relative;
	margin: 1rem 0;
}

.header-user-actions .shopping-cart .cartbox img {
	height: 5rem;
}

.header-user-actions .shopping-cart .cartbox .cart-trash {
	font-size: 2rem;
	position: absolute;
	top: 50%;
	right: 2rem;
	cursor: pointer;
	color: black;
	transform: translateY(-50%);
	transition: 0.1s ease;
}

.header-user-actions .shopping-cart .cartbox .cart-trash:hover {
	color: var(--red);
}

.header-user-actions .shopping-cart .cartbox .cart-content h3 {
	color: black;
	font-size: 1.5rem;
	padding-bottom: 1rem;
}

.header-user-actions .shopping-cart .cartbox .cart-content span {
	color: var(--red);
	font-size: var(--fs-5);
}

.header-user-actions .shopping-cart .cartbox .cart-content .quantity {
	padding-left: 1rem;
	font-family: 'poppins', sans-serif;
	font-weight: 500;
}

.header-user-actions .shopping-cart .total {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 25px;
	padding: 1rem 0;
	font-family: 'poppins', sans-serif;
	font-weight: 600;
	text-align: center;
	color: black;
}
.header-user-actions .shopping-cart .cart-checkout-btn {
	display: block;
	padding: 5px 5px;
	font-size: var(--fs-2);
	font-weight: 600;
	border-radius: 5px;
	border: 1px solid black;
	color: black;
	cursor: pointer;
	justify-content: center;
	text-align: center;
	transition: 0.3s ease;
}

.header-user-actions .shopping-cart .cart-checkout-btn:hover {
	border: 2px solid var(--red);
	background: var(--red);
	color: white;
}

.header-user-actions .user-login {
	position: absolute;
	top: 200%;
	right: -1000%;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
	width: 25rem;
	background: white;
	z-index: 10;
}

.header-user-actions .user-login.active {
	right: -350%;
	transition: 0.7s ease;
}

.header-user-actions .user-login .login-box {
	width: 100%;
	margin: 0.7rem 0;
	outline: none;
	border: none;
	background: #eee;
	border-radius: 5px;
	padding: 0.6rem;
	font-family: 'poppins', sans-serif;
	font-size: 0.8rem;
	color: black;
	text-transform: none;
}

.header-user-actions .user-login .forgotreg{
	display: flex;
	justify-content: space-between;
}

.header-user-actions .user-login a {
	font-family: 'poppins', sans-serif;
	font-size: 0.9rem;
	padding-bottom: 1.2rem;
	color: var(--red);
}

.header-user-actions .user-login .form-btn {
	font-family: 'poppins', sans-serif;
	font-size: 20px;
	font-weight: 400;
	outline: none;
	border: none;
	padding: 8px 0;
	border-radius: 5px;
	transition: 0.3s ease;
}
.header-user-actions .user-login .form-btn:hover{
	background: var(--red);
	color: white;
}

.header-logo {
	display: block;
	flex-basis: 100%;
	
}
.header-logo img{
	margin: auto;
}
.header-search-container {
	display: none;
	position: relative;
}
.header-search-container .search-field {
	font-size: var(--fs-7);
	color: hsl(0, 0%, 27%);
	padding: 10px 15px;
	padding-right: 50px;
	border: 1px solid hsl(0, 0%, 93%);
	border-radius: 10px;
}
.header-search-container .search-field:focus {
	outline: 0;
}
.search-field::-webkit-search-cancel-button {
	display: none;
}

.search-btn {
	background: transparent;
	position: absolute;
	top: 50%;
	right: 2px;
	transform: translateY(-50%);
	color: hsl(0, 0%, 27%);
	font-size: 22px;
	padding: 8px 15px;
	transition: color 0.2s ease;
}

.search-btn:hover {
	color: var(--red);
}

/* .mobile-bottom-navigation {
	background: white;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 500px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5px 0;
	box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
	z-index: 5;

	.action-btn {
		position: relative;
		font-size: 26px;
	}
} */



.mobile-navigation-menu {
	background: white;
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	max-width: 320px;
	height: 100vh;
	padding: 20px;
	box-shadow: 0;
	overflow-y: scroll;
	overscroll-behavior: contain;
	visibility: hidden;
	transition: 0.5s ease;
	z-index: 20;
}

.mobile-navigation-menu.active {
	left: 0;
	visibility: visible;
}

.menu-top {
	padding-bottom: 15px;
	margin-bottom:  10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid hsl(0, 0%, 93%);

	.menu-title {
		color: rgb(255, 0, 43);
		font-size: var(--fs-4);
		font-weight: 600;
	}
}
.menu-close-btn {
	color: black;
	font-size: 22px;
}

.menu-close-btn ion-icon {
	--ionicon-stroke-width: 50px;
}

.mobile-menu-category-list {
	margin-bottom: 30px;
}

.mobile-menu-category-list .menu-category {
	border-bottom: 1px solid hsl(0, 0%, 93%);
}

.mobile-menu-category-list .menu-title {
	color: hsl(0, 0%, 27%);
	font-size: var(--fs-6);
	font-weight: 500;
	padding: 12px 0;
	margin-bottom: 0px;
}

.menu-category .submenu-category-list {
	margin-left: 10px;
}
.menu-category .accordion-menu {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
}

.accordion-menu > div {
	font-size: 14px;
}

.accordion-menu ion-icon {
	color: hsl(0, 0%, 27%);
	--ionicon-stroke-width: 90px;
}

.accordion-menu.active .add-icon,
.accordion-menu .remove-icon {
	display: none;
}

.accordion-menu .add-icon,
.accordion-menu.active .remove-icon {
	display: block;
}

.submenu-title {
	padding: 6px 0;
	font-size: var(--fs-6);
	color: hsl(0, 0%, 47%);
	font-weight: 300;

	&:hover {
		color: hsl(0, 0%, 33%)
	}
}

.submenu-category-list {
	max-height: 0;
	overflow: hidden;
	visibility: hidden;
	transition: 0.5s ease-in-out;
}

.submenu-category-list.active {
	max-height: 148px;
	visibility: visible;
}

.backdrop {
	display: none;
}
.backdrop.active {
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(5px);
	z-index: 5;
}
.img-area {
	display: none;
}
.img-area.active{
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 10;
}
.img-area .elem-container {
	display: flex;
	background-color: white;
	border-radius: 15px;
	padding: 500px 20px 25px 25px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.img-area img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	border-radius: 15px;
	margin-bottom: 10px;
	height: 450px;
	width: 500px;
	z-index: 10;
}
.img-area .elem-container::before {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 15px;
	transform: translate(-50%, -70%);
	content: attr(data-img);
	height: 450px;
	width: 500px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s ease;
	z-index: 11;
}
.img-area .elem-container.active:hover::before {
	opacity: 1;
}
.img-area .times {
	display: grid;
	gap: 2px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	padding: 10px 0;
	width: 100%;
}
.img-area .times input[type="checkbox"] {
    display: grid;
	place-content: center;
	border: 0px;
	width: 40px;
}

.img-area .days {
	display: grid;
	gap: 15px;
	grid-template-columns: 0.5fr 4fr 0.5fr 4fr 0.5fr 4fr;
	padding: 10px 0;
	width: 100%;
	place-content: center;
	line-height: 30px;
}
.img-area .days input[type="checkbox"] {
	position: relative;
    display: grid;
	appearance: none;
	background-color: rgb(223, 223, 223);
	border-radius: 100%;
	width: 30px;
	height: 30px;
	cursor: pointer;
	line-height: 25px;
}
.img-area .days input[type="checkbox"]:checked:after {
	position: absolute;
	content: '\25CF';
	font-size: 40px;
	color: var(--red);
	left: 50%;
	transform: translate(-50%, 0);
}
.img-area .prescription-upload-btn {
	display: flex;
	color: white;
	font-size: 25px;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 100%;
	margin-top: 10px;
	border-radius: 10px;
	background-color: var(--red);
}

main {
	position: relative;
	display: flex;
	height: 100vh;
	width: 100%;
}
main .container {
	max-width: 60vw;
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

main .sidebar {
    width: 250px;
	height: 60%;
    border-radius: 10px;
    box-shadow: 0 8px 8px hsla(0, 0%, 0%, 0.2);
}

main .sidebar li{
    display: flex;
	height: 50px;
	width: 100%;
	margin-top: 10px;
	padding: 20px 20px;
	list-style: none;
	align-items: center;
    transition: 0.25s ease;
}
main .sidebar li a{
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
	border-radius: 6px;
	transition: 0.3s ease;
}
main .sidebar li h3{
	color: #4e4e4e;
	font-size: 18px;
	margin-bottom: 0;
}
main .sidebar li ion-icon, i{
	color: #4e4e4e;
	font-size: 30px;
	margin-bottom: 0;
}

main .sidebar li:hover{
    background-color: rgb(255, 97, 97);
}

.sidebar-sections:hover h3{
	color: white;
}

main .container .registration-form {
	display: none;
}
main .container .registration-form.active {
	display: flex;
	transition: 3s ease;
}

.registration-form input {
	margin: 1.5rem 0;
	outline: none;
	border: none;
	background: #eee;
	border-radius: 5px;
	padding: 0.6rem;
	font-family: 'poppins', sans-serif;
	font-size: 0.8rem;
	color: black;
	text-transform: none;
}
.registration-form .input-box:not(:nth-child(1)) input,
.registration-form .input-box:not(:nth-child(2)) input,
.registration-form .input-box:not(:nth-child(8)) input {
	width: 93%;
}
.registration-form .input-box:nth-child(1) input,
.registration-form .input-box:nth-child(2) input,
.registration-form .input-box:nth-child(8) input {
	width: 96%;
}

.registration-form .input-box button {
	padding-left: 0px;
	display: flex;
	margin: -75px 0 20px auto;
	font-size: 30px;
	color: inherit;
	background-color: transparent;
}
.registration-form .input-box button:hover {
	color: red;
	cursor: pointer;
}

.registration-form .gender {
	display: grid;
	gap: 10px;
	grid-template-columns: 2fr 1fr 1fr;
	padding: 20px 10px;
}

.registration-form .gender label{
	padding: 10px 0;
}
.registration-form .gender .label1,
.registration-form .gender .label2{
	display: grid;
	grid-template-columns: 0.5fr 1fr;
}
.registration-form .gender .label1 {
	border: 2px solid rgb(114, 198, 226);
	border-radius: 10px;
}
.registration-form .gender .label2 {
	border: 2px solid pink;
	border-radius: 10px;
}
.registration-form .gender label:nth-child(1){
	border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.registration-form .gender input {
	margin-left: auto;
}

.registration-form .gender label:not(:nth-child(1)){
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 0 5px 5px 0;
}
.registration-form .gender .label1 label {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(114, 198, 226);
}

.registration-form .gender .label2 label {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: pink;
} 
.registration-form button {
	background: var(--red);
	border-radius: 5px;
	padding: 0.6rem;
	font-family: 'poppins', sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	color: rgb(255, 255, 255);
	text-transform: none;
	transition: 0.3s ease;
}

.registration-form button:hover {
	letter-spacing: 0.6px;
	filter: brightness(90%);
}

.prescriptions {
	display: none;
}

.prescriptions.active {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 30px;
}

.prescriptions.active .presc-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	box-shadow: 0 8px 8px hsla(0, 0%, 0%, 0.2);
	border-radius: 10px;
	height: 400px;
	transition: 0.3s ease;
	cursor: pointer;
}

.prescriptions.active .presc-box:hover {
	transform: scale(1.05);
}

.prescriptions.active .presc-box img {
	border-radius: 10px;
	width: 320px;
	margin-bottom: 20px;
}

.prescriptions.active .presc-box img.fullscreen {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: auto;
}

.prescriptions.active .presc-box h3 {
	font-size: var(--fs-3);
}

.purchase-history {
	display: none;
}

.purchase-history.active {
	display: block;
}

.purchase-history table {
	width: 100%;
	border-collapse: collapse;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	padding: 10px 20px;
	overflow: hidden;
}


.purchase-history table thead {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.purchase-history table th {
	color: rgba(222, 0, 0, 0.7);
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: var(--fs-6);
	font-weight: 700;
	padding: 1rem 2rem;
}
.purchase-history table tr:nth-child(even) {
	background-color: rgba(222, 0, 0, 0.05);
}

.purchase-history table tbody {
	display: table-row-group;
	margin-top: 100px;
}
.purchase-history table tbody a {
	text-decoration: none;
}
.purchase-history table tbody .status{
	padding: 0.5rem 1rem;
	border-radius: 10px;
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
	transition: 0.2s ease;
}
.purchase-history table tbody .status:hover{
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	transform: translateY(-1px);
}

.purchase-history table tbody .status{
	margin: 0;
}

.purchase-history table tbody .status-paid {
	background-color: rgb(90, 173, 90);
	color: white;
}
.purchase-history table tbody .status-unpaid {
	background-color: rgb(98, 171, 255);
	color: white;
}
.purchase-history table tbody .status-refund {
	background-color: rgb(253, 207, 0);
	color: rgb(255, 255, 255);
}
.purchase-history table tbody .status-cancel {
	background-color: rgb(255, 105, 105);
	color: white;
}

.purchase-history table td {
	font-weight: 500;
	padding: 1rem 2rem;
	text-align: center;
}


/* ------------------------ */
/* FOOTER */
/* ------------------------ */

.footer {
	background-color: hsl(228, 6%, 17%);
	color: hsl(0, 0%, 53%);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
}
.footer-top {
	padding-block-start: 100px;
	border-block-end: 1px solid hsl(220, 2%, 24%);
}

.footer-top .container {
	display: grid;
	gap: 30px;
}

.footer .logo {
	margin-block-end: 10px;
}

.footer-text {
	font-size: var(--fs-6);
	margin-block-end: 25px;
}

.footer-text .link {
	display: inline-block;
	color: var(--red);
}

.contact-item {
	margin-block-end: 15px;
	color: white;
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 15px;

	& a{
		color: white;
		&:hover {
			color: white;
		}
	}
}

.contact-item ion-icon {
	flex-shrink: 0;
	font-size: 22px;
	color: var(--red);
}

.social-list {
	display: flex;
	gap: 10px;
}

.social-link {
	background-color: white;
	color: black;
	padding: 12px;
	border-radius: 50%;
	transition: 0.25s ease;
}

.social-link:is(:hover, :focus) {
	background-color: var(--red);
	color: white;
}

.footer-list-title {
	color: white;
	font-size: 1.8rem;
	font-weight: 700;
	padding-block: 10px;
}

.footer-link {
	padding-block: 4px;
	transition: 0.25s ease;
}

.footer-link:is(:hover, :focus) {
	color: var(--red);
	cursor: pointer;
}

.footer-bottom {
	padding-block: 20px;
}

.copyright {
	display: flex;
	letter-spacing: 1.2px;
	margin-block-end: 10px;
}
.copyright a{
	padding-left: 5px;
	color: hsl(0, 0%, 53%);

	&:hover {
		color: hsl(0, 0%, 53%);
	}
}
.copyright-link {
	display: inline-block;
}

.footer-bottom .img {
	width: 100%;
	max-width: max-content;
}

/* ------------------------ */
/* BACK TO TOP */
/* ------------------------ */

.back-top-btn {
	position: fixed;
	bottom: 10px;
	right: 20px;
	background-color: var(--red);
	color: white;
	font-size: 25px;
	padding: 10px;
	border-radius: 50%;
	box-shadow: 0 8px 8px hsla(0, 0%, 0%, 0.2);
	opacity: 0;
	visibility: hidden;
	transition: 0.25s ease;
	z-index: 4;
}

.back-top-btn.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(-10px);
}

/* ------------------------ */
/* RESPONSIVE */
/* ------------------------ */

@media (min-width: 0px){
	.header-logo {
		margin: 0 auto;
	}

	.header-user-actions .shopping-cart {
		top: 150%;
		right: -400%;
		width: 20rem;
	}
	
	.header-user-actions .shopping-cart.active {
		right: -5%;
	}
	
	.header-user-actions .shopping-cart .cartbox img {
		height: 3rem;
	}
	
	.header-user-actions .shopping-cart .cartbox .cart-trash {
		font-size: 1.8rem;
		right: 1rem;
	}
	.header-user-actions .shopping-cart .cartbox .cart-content h3 {
		font-size: 1rem;
		padding-bottom: 0.1rem;
	}
	
	.header-user-actions .shopping-cart .cartbox .cart-content span {
		font-size: var(--fs-7);
	}
	
	.header-user-actions .shopping-cart .total {
		font-size: 18px;
		padding: 1rem 0;
	}
	.header-user-actions .shopping-cart .cart-checkout-btn {
		padding: 5px 5px;
		font-size: var(--fs-4);
	}

	.header-user-actions .user-login {
		top: 150%;
		right: -400%;
		width: 20rem;
	}
	
	.header-user-actions .user-login.active {
		right: -5%;
	}
	main .container {
		margin-top: 20px;
		width: 100%;
	}
	main .sidebar {
		width: 80px;
		height: 40%;
	}
	
	main .sidebar li h3{
		display: none;
	}
	main .container .registration-form .input-box button {
		left: 0px;
	}
	.prescriptions {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 480px) {
	:root {
		--fs-1: 1.875rem;
	}
	.slider-item {
		aspect-ratio: 5/3;
	}
	.banner-content {
		top: 50%;
		right: auto;
		bottom: auto;
		transform: translateY(-50%);
		max-width: 320px;
	}
	.banner-subtitle {
		--fs-7: 1rem;
	}
	.banner-text {
		display: block;
		color: hsl(0, 0%, 47%);
		font-size: var(--fs-7);
		font-weight: 500;
		margin-bottom: 10px;
	}
	.banner-text b {
		font-size: var(--fs-2);
	}
	.banner-btn {
		padding: 7px 20px;
	}
	main .container {
		margin-top: 20px;
		width: 100%;
	}
	main .sidebar {
		width: 80px;
		height: 40%;
	}
	
	main .sidebar li h3{
		display: none;
	}
	main .container .registration-form .input-box button {
		/* margin-left: 350px; */
	}
	.product-grid {
		grid-template-columns: 1fr 1fr;
		gap: 30px;
	}
	.copyright {
		--fs-8: 0.875rem;
	}
}

@media (min-width: 570px) {
	.header-main .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.header-user-actions .shopping-cart.active {
		right: -6%;
	}
	.slider-item {
		aspect-ratio: 4 / 2;
	}
	.banner-content {
		background: none;
	}
	.category-item-content {
		gap: 30px;
	}
	.category-item {
		min-width: calc(50% - 15px);
	}
	.prescriptions {
		grid-template-columns: 1fr 1fr;
	}
	.footer-top .container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 768px) {
	:root {
		--fs-1: 2.375rem;
	}
	html {
		font-size: 17px;
	}
	.container {
		max-width: 750px;
		margin: auto;
	}

	.header-user-actions .shopping-cart {
		right: -500%;
	}

	.header-user-actions .user-login {
		top: 150%;
		right: -500%;
		width: 20rem;
	}
	
	.header-user-actions .user-login.active {
		right: -5%;
	}
	.slider-item {
		aspect-ratio: auto;
		height: 350px;
	}

	.banner-content {
		max-width: 380px;
	}

	.banner-subtitle {
		--fs-7: 1.25rem;
	}

	.banner-text {
		--fs-7: 1.125rem;
	}
	.banner-text b{
		--fs-2: 1.875rem;
	}

	.banner-btn {
		--fs-11: 0.75rem;
	}

	main .container {
		margin-top: 20px;
		width: 100%;
	}
	main .sidebar {
		width: 150px;
		height: 40%;
	}
	
	main .sidebar li h3{
		display: block;
		font-size: 10px;
	}
	.registration-form .input-box:not(:nth-child(1)) input,
	.registration-form .input-box:not(:nth-child(2)) input,
	.registration-form .input-box:not(:nth-child(8)) input {
		width: 80%;
	}
	.registration-form .input-box:nth-child(1) input,
	.registration-form .input-box:nth-child(2) input,
	.registration-form .input-box:nth-child(8) input {
		width: 90%;
	}	

	.footer-bottom .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@media (min-width: 1024px) {
	:root {
		--fs-1: 2.625rem;
		--fs-2: 1.125rem;
	}
	.container {
		max-width: 980px;
	}
	.header-main {
		display: flex;
	}
	
	.header-main .container {
		gap: 80px;
	}
	.header-main .header-search-container {
		display: block;
		min-width: 300px;
		flex-grow: 1;
	}
	.header-logo {
		max-width: 100px;
	}
	.header-logo img {
		min-width: 150px;
	}
	.header-user-actions {
		display: flex;
		align-items: center;
		gap: 15px;
	}
	.header-user-actions .action-btn {
		position: relative;
		font-size: 32px;
		color: hsl(0, 0%, 27%);
	}
	.header-user-actions .btn-badge {
		position: absolute;
		top: -2px;
		right: -3px;
		background: var(--red);
		color: white;
		font-size: 12px;
		font-weight: 500;
		line-height: 1;
		padding: 2px 4px;
		border-radius: 20px;
	}
	.header-user-actions .shopping-cart {
		top: 200%;
		right: -1000%;
		padding: 1rem;
		width: 25rem;
	}
	
	.header-user-actions .shopping-cart.active {
		right: -50%;
	}
	
	.header-user-actions .shopping-cart .cartbox img {
		height: 5rem;
	}
	
	.header-user-actions .shopping-cart .cartbox .cart-trash {
		font-size: 2rem;
		right: 2rem;
	}
	
	.header-user-actions .shopping-cart .cartbox .cart-content h3 {
		font-size: 1.5rem;
		padding-bottom: 1rem;
	}
	
	.header-user-actions .shopping-cart .cartbox .cart-content span {
		font-size: var(--fs-5);
	}
	
	.header-user-actions .shopping-cart .cartbox .cart-content .quantity {
		padding-left: 0.5rem;
	}
	
	.header-user-actions .shopping-cart .total {
		font-size: 25px;
		padding: 1rem 0;
	}
	.header-user-actions .shopping-cart .cart-checkout-btn {
		padding: 5px 5px;
		font-size: var(--fs-2);
		font-weight: 600;
	}

	.header-user-actions .user-login {
		top: 170%;
		right: -1000%;
		width: 20rem;
	}
	
	.header-user-actions .user-login.active {
		right: -5%;
	}

	.desktop-navigation-menu {
		display: block;
	}

	.desktop-menu-category-list {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}
	.desktop-menu-category-list .menu-category:not(:nth-child(2)) {
		position: relative;
	}
	.desktop-menu-category-list .menu-category > .menu-title {
		position: relative;
		color: hsl(0, 0%, 27%);
		font-size: var(--fs-7);
		font-weight: 600;
		text-transform: uppercase;
		padding: 15px 0;
		transition: 0.2s ease;
	}
	.desktop-menu-category-list .menu-category > .menu-title:hover {
		/* background-color: rgb(255, 234, 234); */
		color: var(--red);
	}
	.desktop-menu-category-list .menu-category > .menu-title::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		/* background-color: rgb(255, 234, 234); */
		background: var(--red);
		transform: scaleX(0);
		transform-origin: left;
		transition: 0.3s ease;
	}
	.desktop-menu-category-list .menu-category > .menu-title:hover::after {
		transform: scaleX(1);
	}
	.dropdown-panel {
		position: absolute;
		top: 100%;
		left: 0;
		background: white;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
		padding: 30px;
		border: 1px solid hsl(0, 0%, 93%);
		box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
		border-radius: 10px;
		transform: translateY(50px);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: 0.2s ease;
		z-index: 5;
	}

	.desktop-menu-category-list .menu-category:hover > .dropdown-panel {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}
	.dropdown-panel-list .menu-title a {
		color: hsl(0, 0%, 27%);
		font-size: var(--fs-7);
		font-weight: 600;
		padding-bottom: 10px;
		border-bottom: 1px solid hsl(0, 0%, 93%);
		margin-bottom: 10px;
	}
	.panel-list-item a {
		color: hsl(0, 0%, 47%);
		font-size: var(--fs-7);
		text-transform: capitalize;
		transition: 0.2s ease;
	}
	.panel-list-item a:hover {
		color: var(--red);
	}
	.panel-list-item:not(:last-child) a {
		padding: 4px 0;
	}
	/* .panel-list-item:last-child {
		margin-top:  20px;
	} */

	.dropdown-list {
		position: absolute;
		top: 100%;
		left: 0;
		width: 200px;
		background: white;
		padding: 20px 0;
		border: 1px solid hsl(0, 0%, 93%);
		border-radius: 10px;
		box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
		transform: translateY(50px);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: 0.2s ease;
		z-index: 5;
	}

	.desktop-menu-category-list .menu-category:hover > .dropdown-list {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}

	.dropdown-list .dropdown-item a {
		color: hsl(0, 0%, 47%);
		font-size: var(--fs-7);
		text-transform: capitalize;
		padding: 4px 20px;
		transition: 0.2s ease;
	}

	.dropdown-list .dropdown-item a:hover {
		color: var(--red);
	}
	
	.menu-action,
	.header-user-actions .search-box,
	.mobile-navigation-menu  {
		display: none;
	}

	/* BANNER */

	.banner {
		margin-top: 0;
	}
	.slider-item {
		height: 380px;
	}

	.banner-content {
		left: 75px;
		max-width: 400px;
	}

	.banner-subtitle {
		--fs-7 : 1.625rem;
	}
	.banner-text {
		--fs-7: 1.375rem;
	}
	.banner-btn {
		--fs-11: 0.875rem;
	}

	.prescriptions {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	main .sidebar {
		width: 20vw;
		max-width: 250px;
		height: 60%;
	}
	main .sidebar li h3{
		font-size: 18px;
	}

	.registration-form .input-box:not(:nth-child(1)) input,
	.registration-form .input-box:not(:nth-child(2)) input,
	.registration-form .input-box:not(:nth-child(8)) input {
		max-width: 1080px;
	}
	.registration-form .input-box:nth-child(1) input,
	.registration-form .input-box:nth-child(2) input,
	.registration-form .input-box:nth-child(8) input {
		max-width: 1080px;
	}

	/* CATEGORY */

	.category-item {
		min-width: calc(33.33% - 20px);
	}

	.category-img-box {
		padding: 10px;
	}

	.product-grid {
		grid-template-columns: repeat(4, 1fr);
	}

	.footer-top .container {
		grid-template-columns: 1fr 0.5fr 0.5fr ;
	}
}