<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>medE</title>
	<link rel="icon" type="image/x-icon" href="{% static 'Favicon.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
	<header>
		<div class="header-main" data-header>
			<div class="container">
				<a class="header-logo" href="{%url 'home'%}">
					<img src="{% static 'Logo.jpg' %}" alt=" medX logo"height="50px"width="80px">
				</a>
				<div class="header-search-container">
					
					<input type="search" name="search" id="search-input" class="search-field" placeholder="Type to search products...">
					<div id="search-results">

					
					</div>
					<button class="search-btn">
						<ion-icon name="search"></ion-icon>
					</button>
				</div>
				
				

				<button class="action-btn menu-action" data-mobile-menu-open-btn>
					<ion-icon name="menu"></ion-icon>
				</button>
				<div class="header-user-actions">
					<div class="search-box">
						<input class="search-txt" id="search-input2" type="text" placeholder="Type to search...">
						<button class="mobile-srch-btn action-btn">
							<ion-icon name="search-outline"></ion-icon>
						</button>
						<div id="search-results2">

					
						</div>
					</div>
					<button id="select-image" class="action-btn">
						<img src="{%static 'prescription.png'%}" alt="prescription-upload-icon" width="30">
					</button>
					<button id="user-login-btn" class="action-btn" >
						<ion-icon name="person-outline"></ion-icon>
					</button>


					<button id="cart-btn" class="action-btn" >
						<ion-icon name="bag-outline"></ion-icon>
						<span class="btn-badge">3</span>
					</button>
						<div class="shopping-cart" >
								<!-- HTML template for a product cartbox -->
								<div id= "cart-container">
									<!-- <div class="cartbox" id="cartbox-${p_id}">
									  <button class="cart-trash">
										<ion-icon name="trash"></ion-icon>
									  </button>
									  <img src="" alt="">
									  <div class="cart-content">
										<h3 id="productName-${p_id}"></h3>
										<div style="display: grid; grid-template-columns: 0.5fr 1fr; gap: 1px;">
										  <span class="cart-content-price" id="productPrice-${p_id}"></span>
										  <span class="quantity"></span><br>
										  <span class="quantity">Days: 7</span>
										</div>
									  </div>
									</div> -->
								  </div>
								  
								  <div class="total"></div>
								  {% if user.is_authenticated %}
								<a href="" class="cart-checkout-btn" id="checkout-button">Checkout</a>
						    {% else %}
							<a href="{% url 'mylogin' %}" class="cart-checkout-btn" id="">Checkout</a>
						    {% endif %}
					
						</div>

						<div style="text-align:center;" class="user-login">
							{% if user.is_authenticated %}
							<a href="{% url 'profile' %}" class="form-btn">Profile</a>
							<a href="{% url 'mylogout' %}" class="form-btn">Logout</a>
						    {% else %}
							<a href="{% url 'mylogin' %}" class="form-btn">Login</a>
						    {% endif %}
						

					
							

						</div>
				</div>
			</div>
		</div>
		<nav class="desktop-navigation-menu">
			<div class="container">
				<ul class="desktop-menu-category-list">
					<li class="menu-category">
						<a href="{%url 'home'%}" class="menu-title">Home</a>
					</li>
					<li class="menu-category">
						<a href="#" class="menu-title">Categories</a>
						<div class="dropdown-panel">
							<ul class="dropdown-panel-list">
								<li class="menu-title">
								
								</li>
								<li class="panel-list-item"><a href="{%url 'category' p_category='Cold & Allergies'%}">Cold & Allergies</a></li>
								<li class="panel-list-item"><a href="{%url 'category' p_category='Heart Problems'%}">Heart Problems</a></li>
								<li class="panel-list-item"><a href="{%url 'category' p_category='Diabetes'%}">Diabetes</a></li>
								<li class="panel-list-item"><a href="{%url 'category' p_category='Respiratory Problems'%}">Respiratory Problems</a></li>
							</ul>
							<ul class="dropdown-panel-list">
								<li class="menu-title">
									
								</li>
								<li class="panel-list-item"><a href="{%url 'category' p_category='Neurological Problems'%}">Neurological Problems</a></li>
								<li class="panel-list-item"><a href="{%url 'category' p_category='Arthritis or other types of pain'%}">Arthritis or other types of pain</a></li>
								<li class="panel-list-item"><a href="{%url 'category' p_category='Sexual Wellness'%}">Sexual Wellness</a></li>
								<li class="panel-list-item"><a href="{%url 'category' p_category='Herbal & Ayurvedic'%}">Herbal & Ayurvedic</a></li>
							</ul>
							<ul class="dropdown-panel-list">
								<li class="menu-title">
									
								</li>
								<li class="panel-list-item"><a href="{%url 'category' p_category='Infant & Mothers care'%}">Infant & Mothers care</a></li>
								<li class="panel-list-item"><a href="{%url 'category' p_category='Supplements & Nutrition'%}">Supplements & Nutrition</a></li>
								<li class="panel-list-item"><a href="{%url 'category' p_category='More will be added late'%}">More will be added late</a></li>
								<li class="panel-list-item"><a href="{%url 'category' p_category='Cold & Allergies'%}">More will be added late</a></li>
							</ul>
							<ul class="dropdown-panel-list">
								<li class="menu-title">
									
								</li>
								<li class="panel-list-item"><a href="{%url 'category' p_category='Cold & Allergies'%}">More will be added late</a></li>
								<li class="panel-list-item"><a href="{%url 'category' p_category='Cold & Allergies'%}">More will be added late</a></li>
								<li class="panel-list-item"><a href="{%url 'category' p_category='Cold & Allergies'%}">More will be added late</a></li>
								<li class="panel-list-item"><a href="{%url 'category' p_category='Cold & Allergies'%}">More will be added late</a></li>
							</ul>
						</div>
					</li>
					<li class="menu-category">
						<a href="{%url 'category' p_category='MENS'%}"class="menu-title">Men's</a>
			

					</li>
					<li class="menu-category">
						<a href="{%url 'category' p_category='WOMEN'%}" class="menu-title">Women's</a>

					</li>
					<li class="menu-category">
						<a href="{%url 'category' p_category='BABY CARE'%}" class="menu-title">Baby Care</a>
			
	
					</li>
					<li class="menu-category">
						<a href="{%url 'category' p_category='Personal Hygiene'%}" class="menu-title">Personal Hygiene</a>
			

					</li>
					<li class="menu-category">
						<a href="{%url 'category' p_category='Medical Equipments' %}"class="menu-title">Medical Equipments</a>

					</li>
				</ul>
			</div>
		</nav>
		<!-- __________________________ -->
		<!-- <div class="mobile-bottom-navigation">
			<button class="action-btn" data-mobile-menu-open-btn>
				<ion-icon name="menu"></ion-icon>
			</button>
			<button class="action-btn">
				<ion-icon name="bag"></ion-icon>
			</button>                                               
			<button class="action-btn">
				<ion-icon class="person"></ion-icon>
			</button>
		</div> -->
		<!-- ________________________ -->
		<nav class="mobile-navigation-menu has-scrollbar" data-mobile-menu>
			<div class="menu-top">
				<h2 class="menu-title">Menu</h2>
				
				<button class="menu-close-btn" data-mobile-menu-close-btn>
					<ion-icon name="close-outline"></ion-icon>
				</button>
			</div>
			<ul class="mobile-menu-category-list">
				<li class="menu-category">
					<a href="{%url 'home'%}" class="menu-title">Home</a>
				</li>
				<li class="menu-category">
					<button class="accordion-menu" data-accordion-btn>
						<p class="menu-title">Categories</p>
						<div>
							<ion-icon name="add-outline" class="add-icon"></ion-icon>
							<ion-icon name="remove-outline" class="remove-icon"></ion-icon>
						</div>
					</button>

					<ul class="submenu-category-list" data-accordion>
						<li class="submenu-category">
							<a href="{%url 'category' p_category='MENS'%}" class="submenu-title">Men's</a>
						</li>
						<li class="submenu-category">
							<a href="{%url 'category' p_category='WOMEN'%}" class="submenu-title">Women's</a>
						</li>
						<li class="submenu-category">
							<a href="{%url 'category' p_category='BABY CARE'%}"  class="submenu-title">Baby Care</a>
						</li>
						<li class="submenu-category">
							<a href="{%url 'category' p_category='Personal Hygiene'%}" class="submenu-title">Personal Hygiene</a>
						</li>

						<li class="submenu-category">
							<a href="{%url 'category' p_category='Medical Equipments' %}"class="submenu-title">Medical Equipments</a>
						</li>
						<li class="submenu-category">
							<a href="{%url 'category' p_category='Cold & Allergies'%}"class="submenu-title">Cold & Allergies</a>
						</li>
						<li class="submenu-category">
							<a href="{%url 'category' p_category='Heart Problems'%}"class="submenu-title">Heart Problems</a>
						</li>
						<li class="submenu-category">
							<a href="{%url 'category' p_category='Diabetes'%}"class="submenu-title">Diabetes</a>
						</li>
						<li class="submenu-category">
							<a href="{%url 'category' p_category='Respiratory Problems'%}"class="submenu-title">Respiratory Problems</a>
						</li>
						<li class="submenu-category">
							<a href="{%url 'category' p_category='Neurological Problems'%}"class="submenu-title">Neurological Problems</a>
						</li>
						<li class="submenu-category">
							<a href="{%url 'category' p_category='Arthritis or other types of pain'%}"class="submenu-title">Arthritis or other types of pain</a>
						</li>
						<li class="submenu-category">
							<a href="{%url 'category' p_category='Sexual Wellness'%}"class="submenu-title">Sexual Wellness</a>
						</li>
						<li class="submenu-category">
							<a href="{%url 'category' p_category='Herbal & Ayurvedic'%}"class="submenu-title">Herbal & Ayurvedic</a>
						</li>
						<li class="submenu-category">
							<a href="{%url 'category' p_category='Infant & Mothers care'%}"class="submenu-title">Infant & Mothers care</a>
						</li>
						<li class="submenu-category">
							<a href="{%url 'category' p_category='Supplements & Nutrition'%}"class="submenu-title">Supplements & Nutrition</a>
						</li>
						<li class="submenu-category">
						<a href="{%url 'category' p_category='More will be added late'%}"class="submenu-title">More will be added late</a>
						</li>
						<li class="submenu-category">
							<a href="{%url 'category' p_category='More will be added late'%}"class="submenu-title">More will be added late</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav> 
	</header>
	<main>
		<!-- --------------
			BANNER
		-------------- -->
		<div class="banner">
			<div class="container">
				<div class="slider-container">
					<!-- ------------------------- -->

						<!-- <div class="slide first"><img src="assets/images/banner-1.jpg" alt="banner1"></div>
						<div class="slide"><img src="assets/images/banner-2.jpg" alt="banner2"></div>
						<div class="slide"><img src="assets/images/banner-3.jpg" alt="banner3"></div> -->

					<!-- ------------------------- -->
					<input type="radio" name="radio-btn" id="radio1">
					<input type="radio" name="radio-btn" id="radio2">
					<input type="radio" name="radio-btn" id="radio3">
					<input type="radio" name="radio-btn" id="radio4">
					<input type="radio" name="radio-btn" id="radio5">

					<div class="slider-item first">
						<img class="banner-img" src="{%static 'images/banner-5.png' %}" alt="banner-1">
						<div class="banner-content">
							<p class="banner-subtitle">Daily Needs</p>

							<h2 class="banner-title">Banner-1</h2>

							<p class="banner-text">Lorem ipsum dolor sit amet.</p>

							<a href="#" class="banner-btn">Consult now</a>
						</div>
					</div>
					<div class="slider-item">
						<img class="banner-img" src="{%static 'images/banner-2.jpg' %}" alt="banner-1">
						<div class="banner-content first">
							<p class="banner-subtitle">Daily Needs</p>

							<h2 class="banner-title">Banner-2</h2>

							<p class="banner-text">Lorem ipsum dolor sit amet.</p>

							<a href="#" class="banner-btn">Consult now</a>
						</div>
					</div>
					<div class="slider-item">
						<img class="banner-img" src="{%static 'images/banner-3.jpg' %}" alt="banner-1">
						<div class="banner-content">
							<p class="banner-subtitle">Daily Needs</p>

							<h2 class="banner-title">Banner-3</h2>

							<p class="banner-text">Lorem ipsum dolor sit amet.</p>

							<a href="#" class="banner-btn">Consult now</a>
						</div>
					</div>
					<div class="slider-item">
						<img class="banner-img" src="{%static 'images/banner-4.jpg' %}" alt="banner-1">
						<div class="banner-content">
							<p class="banner-subtitle">Daily Needs</p>

							<h2 class="banner-title">Banner-4</h2>

							<p class="banner-text">Lorem ipsum dolor sit amet.</p>

							<a href="#" class="banner-btn">Consult now</a>
						</div>
					</div>
					<div class="slider-item">
						<img class="banner-img" src="{%static 'images/banner-5.png' %}" alt="banner-1">
						<div class="banner-content">
							<p class="banner-subtitle">Daily Needs</p>

							<h2 class="banner-title">Banner-5</h2>

							<p class="banner-text">Lorem ipsum dolor sit amet.</p>

							<a href="#" class="banner-btn">Consult now</a>
						</div>
					</div>
					
					<div class="navigation-auto">
						<div class="auto-btn1"></div>
						<div class="auto-btn2"></div>
						<div class="auto-btn3"></div>
						<div class="auto-btn4"></div>
						<div class="auto-btn5"></div>
					</div>

					<div class="navigation-manual">
						<label for="radio1" class="manual-btn"></label>
						<label for="radio2" class="manual-btn"></label>
						<label for="radio3" class="manual-btn"></label>
						<label for="radio4" class="manual-btn"></label>
						<label for="radio5" class="manual-btn"></label>
					</div>
				</div>

			</div>
		</div>
		<!-- --------------
			UPLOAD PRESCRIPTION
		-------------- -->
		<div class="prescription" id="select-image2">
			<div class="container">
				<input type="file" id="file-upload" accept="image/*">
				<label id="select-image" for="file-upload">Upload Prescription</label>
			</div>
		</div>
		<div class="backdrop"></div>
		<div class="img-area" id="img-area">
			<div class="elem-container active" data-img="">
					<input type="file" id="file-upload" accept="image/*" hidden>
					<div class="times">
						<input type="checkbox" name="Morning" value="Morning">
						<label for="Morning">Morning</label>
						<input type="checkbox" name="Afternoon" value="Afternoon">
						<label for="Afternoon">Afternoon</label>
						<input type="checkbox" name="Night" value="Night">
						<label for="Night">Night</label>
					</div>
					<div class="days">
						<input type="checkbox" name="7Days" value="7Days">
						<label for="7Days">7 Days</label>
						<input type="checkbox" name="15Days" value="15Days">
						<label for="15Days">15 Days</label>
						<input type="checkbox" name="1Month" value="1Month">
						<label for="1Month">1 Month</label>
					</div>
					<button class="prescription-upload-btn" type="submit">Upload</button>
				</div>
			</div>
		</div>
		<!-- --------------
			CATEGORY
		-------------- -->
		<div class="category">
			<div class="container">
				<div class="category-item-container">
					<div class="category-item">
						<div class="category-img-box">
							<img src="{% static 'cat-icons/syringe.png' %}" alt="syringe-logo" width="30">
						</div>
						<div class="category-content-box">
							<div class="category-content-flex">
								<h3 class="category-item-title">MEN'S CARE</h3>
							</div>
							<a href="{%url 'category' p_category='MENS'%}"class="menu-title">Show A</a>
						</div>
					</div>
					
					<div class="category-item">
						<div class="category-img-box">
							<img src="{% static 'cat-icons/woman.png' %}" alt="woman-logo" width="30">
						</div>
						<div class="category-content-box">
							<div class="category-content-flex">
								<h3 class="category-item-title">Women's Choice</h3>
							
							</div>
							<a href="{%url 'category' p_category='WOMEN'%}" class="menu-title">Show All</a>
						</div>
					</div>
					<div class="category-item">
						<div class="category-img-box">
							<img src="{% static 'cat-icons/contraceptive.png' %}" alt="contraceptive-logo" width="30">
						</div>
						<div class="category-content-box">
							<div class="category-content-flex">
								<h3 class="category-item-title">Sexual Wellness</h3>
								
							</div>
							<a href="{%url 'category' p_category='Sexual Wellness'%}">Show All</a>
						</div>
					</div>
					<div class="category-item">
						<div class="category-img-box">
							<img src="{% static 'cat-icons/baby.png' %}" alt="baby-logo" width="30">
						</div>
						<div class="category-content-box">
							<div class="category-content-flex">
								<h3 class="category-item-title">Baby Care</h3>
							
							</div>
							<a href="{%url 'category' p_category='BABY CARE'%}" class="menu-title">Show All</a>
						</div>
					</div>
					<div class="category-item">
						<div class="category-img-box">
							<img src="{% static 'cat-icons/diabetic.png' %}" alt="diabetic-logo" width="30">
						</div>
						<div class="category-content-box">
							<div class="category-content-flex">
								<h3 class="category-item-title">Diabetics Care</h3>
							</div>
							<a href="{%url 'category' p_category='Diabetes'%}">Show All</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="backdrop"></div>
		<div class="img-area" id="img-area">
			<div class="elem-container active" data-img="">
					<input type="file" id="file-upload" accept="image/*" hidden>
					<div class="times">
						<input type="checkbox" name="Morning" value="Morning">
						<label for="Morning">Morning</label>
						<input type="checkbox" name="Afternoon" value="Afternoon">
						<label for="Afternoon">Afternoon</label>
						<input type="checkbox" name="Night" value="Night">
						<label for="Night">Night</label>
					</div>
					<div class="days">
						<input type="checkbox" name="7Days" value="7Days">
						<label for="7Days">7 Days</label>
						<input type="checkbox" name="15Days" value="15Days">
						<label for="15Days">15 Days</label>
						<input type="checkbox" name="1Month" value="1Month">
						<label for="1Month">1 Month</label>
					</div>
					<button class="prescription-upload-btn" type="submit">Upload</button>
				</div>
			</div>
		</div>
		<!-- --------------
			PRODUCTS
		-------------- -->
	
		<div class="container">
			<div class="product-main">
				<h2 class="title">Featured Products</h2>
				<div class="product-grid">
					
					{% for product in products %}
					<div class="showcase">
						<div class="showcase-banner">
							<a href="{%url 'prod' p_name=product.p_name %}">
								<img  class="product-img default" src="media/{{ product.p_image }}" alt="{{ product.p_name }}" width="300">
								<img  class="product-img hover" src="media/{{ product.p_image }}" alt="{{ product.p_name }}" width="300">
							</a>
							<p class="showcase-badge">{{ product.p_discount|floatformat:"2" }}%</p>
							

							<div  class="showcase-actions" >
								<button id = "{{ product.p_id }}" class="btn-action" onclick="ClearCart()">
									<ion-icon name="heart-outline"></ion-icon>
								</button>
								<button id = "{{ product.p_id }} " class="btn-action" onclick="AddtoCart('{{product.p_id}}')"> <!--Cart button-->
								
								</button> 
							</div>
						</div>
			
						<div class="showcase-content">
							<a href="{%url 'prod' p_name=product.p_name %}" class="showcase-category">{{ product.p_name }}</a>

							<a href="{%url 'prod' p_name=product.p_name %}">
								<h3 class="showcase-title">{{ product.p_category }}</h3>
							</a>
							
							<div class="price-box">
						
                             <p class="price">৳{{ product.discounted_price|floatformat:"2"}}</p>
 
								<del>{{ product.p_price|floatformat:"2" }}</del>
							</div>
						</div>
					
					</div>
					{%endfor%}
				</div>
			</div>

	</main>

	<footer class="footer">
		<div class="footer-top section">
			<div class="container">
				<div class="footer-brand">
					<a href="#" class="logo"><img style="border-radius: 10px;" src="{% static 'Favicon.png' %}" width="80" alt="logo"></a>
					<p class="footer-text">
						If you have any queries please contact us at <a href="mailto:support@gmail.com" class="link">support@gmail.com</a>
					</p>
					<ul class="contact-list">
						<li class="contact-item">
							<ion-icon name="location-outline" aria-hidden="true"></ion-icon>
							<address class="address">
								Online Store, Narayanganj
							</address>
						</li>
						<li class="contact-item">
							<ion-icon name="call-outline" aria-hidden="true"></ion-icon>
							<a href="tel:(+880)XXXXXXXXXX" class="contact-link">(+880)XXXXXXXXXX</a>
						</li>
					</ul>
					<ul class="social-list">
						<li>
							<a href="#" class="social-link">
								<ion-icon name="logo-facebook"></ion-icon>
							</a>
						</li>
						<li>
							<a href="#" class="social-link">
								<ion-icon name="logo-instagram"></ion-icon>
							</a>
						</li>
						<li>
							<a href="#" class="social-link">
								<ion-icon name="logo-twitter"></ion-icon>
							</a>
						</li>
						<li>
							<a href="#" class="social-link">
								<ion-icon name="logo-linkedin"></ion-icon>
							</a>
						</li>
					</ul>
				</div>
				
				<ul class="footer-list">
					<li>
						<p class="footer-list-title">Corporate</p>
					</li>
					<li>
						<p class="footer-link">About Us</p>
					</li>
					<li>
						<p class="footer-link">Contact Us</p>
					</li>
					<li>
						<p class="footer-link">FAQs</p>
					</li>
				</ul>
				<ul class="footer-list">
					<li>
						<p class="footer-list-title">Information</p>
					</li>
					<li>
						<p class="footer-link">Privacy Policy</p>
					</li>
					<li>
						<p class="footer-link">Refund Policy</p>
					</li>
					<li>
						<p class="footer-link">Shipping Policy</p>
					</li>
					<li>
						<p class="footer-link">Terms of Service</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<p class="copyright">
					&copy; 2023 Made by <a href="#">Team NJ<sup>2</sup>.</a>
				</p>
				<img src="{% static 'payment/payment.png' %}" width="380" height="90" loading="lazy" alt="payment method" class="img">
			</div>
		</div>
	</footer>

	<a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
		<ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
	</a>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script type="text/javascript" src="{% static 'script.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{% static 'search.js' %}"></script>
	<script src="{% static 'cart.js' %}"></script>
</body>
</html>