<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>medE</title>
	<link rel="icon" type="image/x-icon" href="assets/Favicon.png">
	<link rel="stylesheet" type="text/css" href="assets/register.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <header>
		<div class="header-main" data-header>
			<div class="container">
				<a class="header-logo" href="index.html">
					<img src="assets/Logo.jpg" alt=" medX logo" height="50px"width="80px">
				</a>
				<div class="header-search-container">
					<input type="search" name="search" class="search-field" placeholder="Type to search products..."></input>
					<button class="search-btn">
						<ion-icon name="search"></ion-icon>
					</button>
				</div>
				<button class="action-btn menu-action" data-mobile-menu-open-btn>
					<ion-icon name="menu"></ion-icon>
				</button>
				<div class="header-user-actions">
					<div class="search-box">
						<input class="search-txt" type="text" placeholder="Type to search...">
						<button class="mobile-srch-btn action-btn">
							<ion-icon name="search-outline"></ion-icon>
						</button>
					</div>
					<button id="user-login-btn" class="action-btn">
						<ion-icon name="person-outline"></ion-icon>
					</button>
					<button id="cart-btn" class="action-btn">
						<ion-icon name="bag-outline"></ion-icon>
						<span class="btn-badge">3</span>
					</button>
					<div class="shopping-cart">
						<div class="cartbox">
							<button class="cart-trash">
								<ion-icon name="trash"></ion-icon>
							</button>
							<img src="assets/products/napa.jpg" alt="napa">
							<div class="cart-content">
								<h3>Napa</h3>
								<span class="cart-content-price">৳610.00</span>
								<span class="quantity">qty: 1</span>
							</div>
						</div>
						<div class="cartbox">
							<button class="cart-trash">
								<ion-icon name="trash"></ion-icon>
							</button>
							<img src="assets/products/napa.jpg" alt="napa">
							<div class="cart-content">
								<h3>Napa</h3>
								<span class="cart-content-price">৳610.00</span>
								<span class="quantity">qty: 1</span>
							</div>
						</div>
						<div class="cartbox">
							<button class="cart-trash">
								<ion-icon name="trash"></ion-icon>
							</button>
							<img src="assets/products/napa.jpg" alt="napa">
							<div class="cart-content">
								<h3>Napa</h3>
								<span class="cart-content-price">৳610.00</span>
								<span class="quantity">qty: 1</span>
							</div>
						</div>
						<div class="total">Total: ৳1830.00</div>
						<a href="#" class="cart-checkout-btn">Checkout</a>
					</div>
					<form action="#" class="user-login">
						<input type="email" placeholder="Email" class="login-box">
						<input type="password" placeholder="Password" class="login-box">
						<div class="forgotreg">
							<a href="#">Forgot password?</a>
							<a href="register.html">Register now!</a>
						</div>
						<input type="submit" value="Login" class="form-btn">
					</form>
				</div>
			</div>
		</div>
		<nav class="desktop-navigation-menu">
			<div class="container">
				<ul class="desktop-menu-category-list">
					<li class="menu-category">
						<a href="index.html" class="menu-title">Home</a>
					</li>
					<li class="menu-category">
						<a href="#" class="menu-title">Categories</a>
						<div class="dropdown-panel">
							<ul class="dropdown-panel-list">
								<li class="menu-title">
									<a href="#">Diabetics Care</a>
								</li>
								<li class="panel-list-item"><a href="#">Diabetics</a></li>
								<li class="panel-list-item"><a href="#">Dental Care</a></li>
								<li class="panel-list-item"><a href="#">Sexual Care</a></li>
								<li class="panel-list-item"><a href="#">Baby Care</a></li>
							</ul>
							<ul class="dropdown-panel-list">
								<li class="menu-title">
									<a href="#">Covid Special</a>
								</li>
								<li class="panel-list-item"><a href="#">Sanitizers</a></li>
								<li class="panel-list-item"><a href="#">Surgical Masks</a></li>
								<li class="panel-list-item"><a href="#">Hand Gloves</a></li>
								<li class="panel-list-item"><a href="#">Covid Test Kit</a></li>
							</ul>
							<ul class="dropdown-panel-list">
								<li class="menu-title">
									<a href="#">Men's Care</a>
								</li>
								<li class="panel-list-item"><a href="#">Men Specific</a></li>
								<li class="panel-list-item"><a href="#">Men Specific</a></li>
								<li class="panel-list-item"><a href="#">Men Specific</a></li>
								<li class="panel-list-item"><a href="#">Men Specific</a></li>
							</ul>
							<ul class="dropdown-panel-list">
								<li class="menu-title">
									<a href="#">Women's Care</a>
								</li>
								<li class="panel-list-item"><a href="#">Women Specific</a></li>
								<li class="panel-list-item"><a href="#">Women Specific</a></li>
								<li class="panel-list-item"><a href="#">Women Specific</a></li>
								<li class="panel-list-item"><a href="#">Women Specific</a></li>
							</ul>
						</div>
					</li>
					<li class="menu-category">
						<a href="#" class="menu-title">Men's</a>
			
						<ul class="dropdown-list">
			
						  <li class="dropdown-item">
							<a href="#">Men Specific</a>
						  </li>
			
						  <li class="dropdown-item">
							<a href="#">Men Specific</a>
						  </li>
			
						  <li class="dropdown-item">
							<a href="#">Men Specific</a>
						  </li>
			
						  <li class="dropdown-item">
							<a href="#">Men Specific</a>
						  </li>
			
						</ul>
					</li>
					<li class="menu-category">
						<a href="#" class="menu-title">Women's</a>
			
						<ul class="dropdown-list">
			
						  <li class="dropdown-item">
							<a href="#">Women Specific</a>
						  </li>
			
						  <li class="dropdown-item">
							<a href="#">Women Specific</a>
						  </li>
			
						  <li class="dropdown-item">
							<a href="#">Women Specific</a>
						  </li>
			
						  <li class="dropdown-item">
							<a href="#">Women Specific</a>
						  </li>
			
						</ul>
					</li>
					<li class="menu-category">
						<a href="#" class="menu-title">Baby Care</a>
			
						<ul class="dropdown-list">
			
						  <li class="dropdown-item">
							<a href="#">Baby Specific</a>
						  </li>
			
						  <li class="dropdown-item">
							<a href="#">Baby Specific</a>
						  </li>
			
						  <li class="dropdown-item">
							<a href="#">Baby Specific</a>
						  </li>
			
						  <li class="dropdown-item">
							<a href="#">Baby Specific</a>
						  </li>
			
						</ul>
					</li>
					<li class="menu-category">
						<a href="#" class="menu-title">Personal Hygiene</a>
			
						<ul class="dropdown-list">
			
						  <li class="dropdown-item">
							<a href="#">Personal Hygiene</a>
						  </li>
			
						  <li class="dropdown-item">
							<a href="#">Personal Hygiene</a>
						  </li>
			
						  <li class="dropdown-item">
							<a href="#">Personal Hygiene</a>
						  </li>
			
						  <li class="dropdown-item">
							<a href="#">Personal Hygiene</a>
						  </li>
			
						</ul>
					</li>
					<li class="menu-category">
						<a href="#" class="menu-title">Medical Equipments</a>
			
						<ul class="dropdown-list">
			
						  <li class="dropdown-item">
							<a href="#">Medical Equipments</a>
						  </li>
			
						  <li class="dropdown-item">
							<a href="#">Medical Equipments</a>
						  </li>
			
						  <li class="dropdown-item">
							<a href="#">Medical Equipments</a>
						  </li>
			
						  <li class="dropdown-item">
							<a href="#">Medical Equipments</a>
						  </li>
			
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<nav class="mobile-navigation-menu has-scrollbar" data-mobile-menu>
			<div class="menu-top">
				<h2 class="menu-title">Menu</h2>
				
				<button class="menu-close-btn" data-mobile-menu-close-btn>
					<ion-icon name="close-outline"></ion-icon>
				</button>
			</div>
			<ul class="mobile-menu-category-list">
				<li class="menu-category">
					<a href="" class="menu-title">Home</a>
				</li>
				<li class="menu-category">
					<button class="accordion-menu" data-accordion-btn>
						<p class="menu-title">Categories</p>
						<div>
							<ion-icon name="add-outline" class="add-icon"></ion-icon>
							<ion-icon name="remove-outline" class="remove-icon"></ion-icon>
						</div>
					</button>

					<ul class="submenu-category-list" data-accordion>
						<li class="submenu-category">
							<a href="#" class="submenu-title">Diabetics</a>
						</li>
						<li class="submenu-category">
							<a href="#" class="submenu-title">Dental Care</a>
						</li>
						<li class="submenu-category">
							<a href="#" class="submenu-title">Sexual Care</a>
						</li>
						<li class="submenu-category">
							<a href="#" class="submenu-title">Baby care</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav> 
	</header>
	<main>
		<div class="container">
			<form action="#" class="registration-form row">
			<div class="input-box">
				<label for="">Username</label>
				<input class="username" type="text" placeholder="Username">
			</div>
			<div class="input-box">
				<label for="">Full Name</label>
				<input class="fullname" type="text" placeholder="Full Name">
			</div>
			<div class="input-box col-sm-6">
				<label for="">Phone</label>
				<input class="phone" type="phone" placeholder="Phone Number">
			</div>
			<div class="input-box col-sm-6">
				<label for="">Birth Date</label>				
				<input class="birthdate" type="date" placeholder="Birth Date">
			</div>
			<div class="gender input-box">
				<label for="">Gender</label>				
				<input type="radio" class="gendermale" name="gender" type="gender" placeholder="Male" value="Male">
				<label for="">Male</label>
				<input type="radio" class="genderfemale" name="gender" type="gender" placeholder="Female" value="Female">
				<label for="">Female</label>
			</div>
			<div class="input-box col-sm-6">
				<label for="">Email</label>				
				<input class="email" type="email" placeholder="Email">
			</div>
			<div class="input-box col-sm-6">
				<label for="">Password</label>				
				<input class="password" type="password" placeholder="Password">
			</div>
			<div class="input-box">
				<label for="">Address</label>				
				<input class="address" type="address" placeholder="Address">
			</div>
			<button type="submit">Register Now</button>
			</form>
		</div>
	</main>

	<footer class="footer">
		<div class="footer-top section">
			<div class="container">
				<div class="footer-brand">
					<a href="#" class="logo"><img style="border-radius: 10px;" src="assets/logo.jpg" width="80" alt="logo"></a>
					<p class="footer-text">
						If you have any queries please contact us at <a href="mailto:support@gmail.com" class="link">support@gmail.com</a>
					</p>
					<ul class="contact-list">
						<li class="contact-item">
							<ion-icon name="location-outline" aria-hidden="true"></ion-icon>
							<address class="address">
								Online Store, Narayanganj
							</address>
						</li>
						<li class="contact-item">
							<ion-icon name="call-outline" aria-hidden="true"></ion-icon>
							<a href="tel:(+880)XXXXXXXXXX" class="contact-link">(+880)XXXXXXXXXX</a>
						</li>
					</ul>
					<ul class="social-list">
						<li>
							<a href="#" class="social-link">
								<ion-icon name="logo-facebook"></ion-icon>
							</a>
						</li>
						<li>
							<a href="#" class="social-link">
								<ion-icon name="logo-instagram"></ion-icon>
							</a>
						</li>
						<li>
							<a href="#" class="social-link">
								<ion-icon name="logo-twitter"></ion-icon>
							</a>
						</li>
						<li>
							<a href="#" class="social-link">
								<ion-icon name="logo-linkedin"></ion-icon>
							</a>
						</li>
					</ul>
				</div>
				
				<ul class="footer-list">
					<li>
						<p class="footer-list-title">Corporate</p>
					</li>
					<li>
						<p class="footer-link">About Us</p>
					</li>
					<li>
						<p class="footer-link">Contact Us</p>
					</li>
					<li>
						<p class="footer-link">FAQs</p>
					</li>
				</ul>
				<ul class="footer-list">
					<li>
						<p class="footer-list-title">Information</p>
					</li>
					<li>
						<p class="footer-link">Privacy Policy</p>
					</li>
					<li>
						<p class="footer-link">Refund Policy</p>
					</li>
					<li>
						<p class="footer-link">Shipping Policy</p>
					</li>
					<li>
						<p class="footer-link">Terms of Service</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<p class="copyright">
					&copy; 2023 Made by <a href="#">Team NJ<sup>2</sup>.</a>
				</p>
				<img src="assets/payment/payment.png" width="380" height="90" loading="lazy" alt="payment method" class="img">
			</div>
		</div>
	</footer>

	<a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
		<ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
	</a>
	<script type="text/javascript" src="assets/script.js"></script>
</body>
</html>
